body {
    background-image: url("./images/Background15.jpg");
}

h1 {
    font-size: 15px;
    margin: 2rem;
    text-align: right;
    color: red;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: rgb(0, 0, 0);

}

.btn {
    background-color:#fb0000;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    border:none; 
    border-radius:10px; 
    margin: auto;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    position: absolute;
    justify-items: center;
    align-items: center;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.hidden {
    display: none;
}

header {
    font-size: 45px;
    font-weight: bolder;
    color: aqua;
    text-align: center;
    text-decoration: underline;
}
